.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
  display: table;
  content: " "
}

.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
  clear: both
}

.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
  zoom: 1
}

.fl-clear {
  clear: both
}

.fl-clearfix:before,
.fl-clearfix:after {
  display: table;
  content: " "
}

.fl-clearfix:after {
  clear: both
}

.fl-clearfix {
  zoom: 1
}

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
  display: none
}

.fl-row,
.fl-row-content {
  margin-left: auto;
  margin-right: auto
}

.fl-row-content-wrap {
  position: relative
}

.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
  background-attachment: scroll
}

.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
  position: relative
}

.fl-row-bg-video .fl-bg-video {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0
}

.fl-row-bg-video .fl-bg-video video {
  bottom: 0;
  left: 0;
  max-width: none;
  position: absolute;
  right: 0;
  top: 0
}

.fl-row-bg-video .fl-bg-video iframe {
  pointer-events: none;
  width: 100vw;
  height: 56.25vw;
  max-width: none;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%)
}

.fl-bg-video-fallback {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
  position: relative
}

.fl-row .fl-bg-slideshow {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.fl-builder-edit .fl-row .fl-bg-slideshow * {
  bottom: 0;
  height: auto !important;
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0
}

.fl-row-bg-overlay .fl-row-content-wrap:after {
  border-radius: inherit;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0
}

.fl-row-bg-overlay .fl-row-content {
  position: relative;
  z-index: 1
}

.fl-row-full-height .fl-row-content-wrap,
.fl-row-custom-height .fl-row-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh
}

.fl-row-overlap-top .fl-row-content-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%
}

.fl-row-custom-height .fl-row-content-wrap {
  min-height: 0
}

.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {
  min-height: calc(100vh - 48px)
}

.fl-row-full-height .fl-row-content,
.fl-row-custom-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.fl-row-full-height .fl-row-full-width.fl-row-content,
.fl-row-custom-height .fl-row-full-width.fl-row-content {
  max-width: 100%;
  width: 100%
}

.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile),
.fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
  display: flex;
  flex-direction: column;
  height: 100%
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {
  height: auto
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
  flex: 0 0 auto;
  flex-basis: 100%;
  margin: 0
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {
  margin: 0 auto
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height),
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center
}

.fl-row-full-height.fl-row-align-center .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center
}

.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-align: end;
  -ms-flex-pack: end
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
  justify-content: flex-start;
  -webkit-justify-content: flex-start
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 1024px
  }
}

@media all and (device-width:1024px) and (device-height:768px) and (orientation:landscape) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 768px
  }
}

@media screen and (device-aspect-ratio:40/71) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 500px
  }
}

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.fl-col-group-equal-height {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%
}

.fl-col-group-equal-height.fl-col-group-has-child-loading {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.fl-col-group-equal-height .fl-col-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
  width: 100%
}

.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after {
  content: none
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  width: 100%
}

.fl-builder-ie-11 .fl-col-group-equal-height,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
  min-height: 1px
}

.fl-col {
  float: left;
  min-height: 1px
}

.fl-col-bg-overlay .fl-col-content {
  position: relative
}

.fl-col-bg-overlay .fl-col-content:after {
  border-radius: inherit;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0
}

.fl-col-bg-overlay .fl-module {
  position: relative;
  z-index: 2
}

.fl-module img {
  max-width: 100%
}

.fl-builder-module-template {
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px
}

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: none
}

.fl-builder-content .fl-button:hover {
  text-decoration: none
}

.fl-builder-content .fl-button:active {
  position: relative;
  top: 1px
}

.fl-builder-content .fl-button-width-full .fl-button {
  display: block;
  text-align: center
}

.fl-builder-content .fl-button-width-custom .fl-button {
  display: inline-block;
  text-align: center;
  max-width: 100%
}

.fl-builder-content .fl-button-left {
  text-align: left
}

.fl-builder-content .fl-button-center {
  text-align: center
}

.fl-builder-content .fl-button-right {
  text-align: right
}

.fl-builder-content .fl-button i {
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto
}

.fl-builder-content .fl-button i.fl-button-icon-after {
  margin-left: 8px;
  margin-right: 0
}

.fl-builder-content .fl-button-has-icon .fl-button-text {
  vertical-align: middle
}

.fl-icon-wrap {
  display: inline-block
}

.fl-icon {
  display: table-cell;
  vertical-align: middle
}

.fl-icon a {
  text-decoration: none
}

.fl-icon i {
  float: left;
  height: auto;
  width: auto
}

.fl-icon i:before {
  border: none !important;
  height: auto;
  width: auto
}

.fl-icon-text {
  display: table-cell;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle
}

.fl-icon-text-empty {
  display: none
}

.fl-icon-text *:last-child {
  margin: 0 !important;
  padding: 0 !important
}

.fl-icon-text a {
  text-decoration: none
}

.fl-icon-text span {
  display: block
}

.fl-icon-text span.mce-edit-focus {
  min-width: 1px
}

.fl-photo {
  line-height: 0;
  position: relative
}

.fl-photo-align-left {
  text-align: left
}

.fl-photo-align-center {
  text-align: center
}

.fl-photo-align-right {
  text-align: right
}

.fl-photo-content {
  display: inline-block;
  line-height: 0;
  position: relative;
  max-width: 100%
}

.fl-photo-img-svg {
  width: 100%
}

.fl-photo-content img {
  display: inline;
  height: auto;
  max-width: 100%
}

.fl-photo-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%
}

.fl-photo-caption {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.fl-photo-caption-below {
  padding-bottom: 20px;
  padding-top: 10px
}

.fl-photo-caption-hover {
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 10px 15px;
  position: absolute;
  right: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in
}

.fl-photo-content:hover .fl-photo-caption-hover {
  opacity: 100;
  filter: alpha(opacity=100)
}

.fl-builder-pagination,
.fl-builder-pagination-load-more {
  padding: 40px 0
}

.fl-builder-pagination ul.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center
}

.fl-builder-pagination li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0
}

.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
  border: 1px solid #e6e6e6;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 5px
}

.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
  background: #f5f5f5;
  text-decoration: none
}

.fl-slideshow,
.fl-slideshow * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.fl-slideshow .fl-slideshow-image img {
  max-width: none !important
}

.fl-slideshow-social {
  line-height: 0 !important
}

.fl-slideshow-social * {
  margin: 0 !important
}

.fl-builder-content .bx-wrapper .bx-viewport {
  background: 0 0;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  left: 0
}

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
  background: 0 0 !important;
  border: none !important;
  outline: none;
  position: absolute;
  top: 50%;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important
}

.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
  background: 0 0 !important;
  border: none !important;
  outline: none;
  position: absolute;
  top: 0;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important
}

.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
  top: 32px !important
}

img.mfp-img {
  padding: 0
}

.mfp-counter {
  display: none
}

.mfp-wrap .mfp-preloader.fa {
  font-size: 30px
}

.fl-form-field {
  margin-bottom: 15px
}

.fl-form-field input.fl-form-error {
  border-color: #dd6420
}

.fl-form-error-message {
  clear: both;
  color: #dd6420;
  display: none;
  padding-top: 8px;
  font-size: 12px;
  font-weight: lighter
}

.fl-form-button-disabled {
  opacity: .5
}

.fl-animation {
  opacity: 0
}

.fl-builder-preview .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
  opacity: 1
}

.fl-animated {
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both
}

.fl-button.fl-button-icon-animation i {
  width: 0 !important;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out
}

.fl-button.fl-button-icon-animation:hover i {
  opacity: 1 !important;
  -ms-filter: "alpha(opacity=100)"
}

.fl-button.fl-button-icon-animation i.fl-button-icon-after {
  margin-left: 0 !important
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
  margin-left: 10px !important
}

.fl-button.fl-button-icon-animation i.fl-button-icon-before {
  margin-right: 0 !important
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
  margin-right: 20px !important;
  margin-left: -10px
}

.single:not(.woocommerce).single-fl-builder-template .fl-content {
  width: 100%
}

.fl-builder-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden
}

.fl-builder-shape-layer {
  z-index: 0
}

.fl-builder-shape-layer.fl-builder-bottom-edge-layer {
  z-index: 1
}

.fl-row-bg-overlay .fl-builder-shape-layer {
  z-index: 1
}

.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
  z-index: 2
}

.fl-row-has-layers .fl-row-content {
  z-index: 1
}

.fl-row-bg-overlay .fl-row-content {
  z-index: 2
}

.fl-builder-layer>* {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.fl-builder-layer+.fl-row-content {
  position: relative
}

.fl-builder-layer .fl-shape {
  fill: #aaa;
  stroke: none;
  stroke-width: 0;
  width: 100%
}

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  background: #fafafa;
  border: 1px solid #ccc;
  color: #333
}

.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
  color: #333
}

.fl-row-content-wrap {
  margin: 0
}

.fl-row-content-wrap {
  padding: 20px
}

.fl-row-fixed-width {
  max-width: 1280px
}

.fl-col-content {
  margin: 0
}

.fl-col-content {
  padding: 0
}

.fl-module-content {
  margin: 10px
}

@media(max-width:1200px) {

  .fl-visible-desktop,
  .fl-visible-mobile,
  .fl-col-group .fl-visible-desktop.fl-col,
  .fl-col-group .fl-visible-mobile.fl-col {
    display: none
  }

  .fl-visible-desktop-medium,
  .fl-visible-medium,
  .fl-visible-medium-mobile,
  .fl-col-group .fl-visible-desktop-medium.fl-col,
  .fl-col-group .fl-visible-medium.fl-col,
  .fl-col-group .fl-visible-medium-mobile.fl-col {
    display: block
  }

  .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
  .fl-col-group-equal-height .fl-visible-medium.fl-col,
  .fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {
    display: flex
  }
}

@media(max-width:760px) {

  .fl-visible-desktop,
  .fl-visible-desktop-medium,
  .fl-visible-medium,
  .fl-col-group .fl-visible-desktop.fl-col,
  .fl-col-group .fl-visible-desktop-medium.fl-col,
  .fl-col-group .fl-visible-medium.fl-col,
  .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
  .fl-col-group-equal-height .fl-visible-medium.fl-col {
    display: none
  }

  .fl-visible-medium-mobile,
  .fl-visible-mobile,
  .fl-col-group .fl-visible-medium-mobile.fl-col,
  .fl-col-group .fl-visible-mobile.fl-col {
    display: block
  }

  .fl-row-content-wrap {
    background-attachment: scroll !important
  }

  .fl-row-bg-parallax .fl-row-content-wrap {
    background-attachment: scroll !important;
    background-position: center center !important
  }

  .fl-col-group.fl-col-group-equal-height {
    display: block
  }

  .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }

  .fl-col-group.fl-col-group-responsive-reversed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap
  }

  .fl-col-group.fl-col-group-responsive-reversed .fl-col {
    -webkit-box-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 0
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2
  }

  .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1
  }

  .fl-col {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto !important
  }

  .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 400px
  }

  .fl-block-col-resize {
    display: none
  }

  .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0
  }

  .fl-row[data-node] .fl-bg-video,
  .fl-row[data-node] .fl-bg-slideshow {
    left: 0;
    right: 0
  }

  .fl-col[data-node] .fl-col-content {
    margin: 0;
    padding-left: 0;
    padding-right: 0
  }

  .fl-row[data-node]>.fl-row-content-wrap {
    padding: 10px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bdf0cdd4d520 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bdf0cdd4d520 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bdf0cdd4d520 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5d160c6e93f14 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5d160c6e93f14 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5d160c6e93f14 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

@media(max-width:760px) {
  .fl-node-5d160c6e93f14.fl-row>.fl-row-content-wrap {
    margin-bottom: 0
  }
}

.fl-node-5d160c6e93f14>.fl-row-content-wrap {
  padding-top: 100px;
  padding-bottom: 70px
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f14.fl-row>.fl-row-content-wrap {
    padding-top: 20px;
    padding-bottom: 0
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5d160f976e6e7 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5d160f976e6e7 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5d160f976e6e7 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160f976e6e7>.fl-row-content-wrap {
  padding-top: 20px;
  padding-bottom: 70px
}

@media(max-width:760px) {
  .fl-node-5d160f976e6e7.fl-row>.fl-row-content-wrap {
    padding-top: 20px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5d160ff0d4cc4 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5d160ff0d4cc4 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5d160ff0d4cc4 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160ff0d4cc4>.fl-row-content-wrap {
  padding-bottom: 70px
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4cc4.fl-row>.fl-row-content-wrap {
    padding-top: 20px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bde2ba1ceefd .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bde2ba1ceefd .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bde2ba1ceefd .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde2ba1ceefd>.fl-row-content-wrap {
  padding-top: 80px;
  padding-bottom: 50px
}

@media(max-width:1200px) {
  .fl-node-5bde2ba1ceefd.fl-row>.fl-row-content-wrap {
    padding-top: 30px
  }
}

@media(max-width:760px) {
  .fl-node-5bde2ba1ceefd.fl-row>.fl-row-content-wrap {
    padding-top: 0;
    padding-bottom: 20px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bde2b6181155 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bde2b6181155 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bde2b6181155 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde2b6181155>.fl-row-content-wrap {
  padding-top: 0
}

@media(max-width:760px) {
  .fl-node-5bde2b6181155.fl-row>.fl-row-content-wrap {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bdf12ad40377 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bdf12ad40377 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bdf12ad40377 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

.fl-node-5bdf12ad40377>.fl-row-content-wrap {
  border-color: #d7dadd
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40377>.fl-row-content-wrap {
  padding-top: 130px;
  padding-bottom: 50px
}

@media(max-width:1200px) {
  .fl-node-5bdf12ad40377.fl-row>.fl-row-content-wrap {
    padding-top: 70px
  }
}

@media(max-width:760px) {
  .fl-node-5bdf12ad40377.fl-row>.fl-row-content-wrap {
    padding-top: 0
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bde44f91cdf8 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bde44f91cdf8 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bde44f91cdf8 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde44f91cdf8>.fl-row-content-wrap {
  padding-top: 110px
}

@media(max-width:1200px) {
  .fl-node-5bde44f91cdf8.fl-row>.fl-row-content-wrap {
    padding-top: 60px;
    padding-bottom: 30px
  }
}

@media(max-width:760px) {
  .fl-node-5bde44f91cdf8.fl-row>.fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 20px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bde45354d7f0 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bde45354d7f0 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bde45354d7f0 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde45354d7f0>.fl-row-content-wrap {
  padding-top: 30px
}

@media(max-width:760px) {
  .fl-node-5bde45354d7f0.fl-row>.fl-row-content-wrap {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bdef3f3214b3 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bdef3f3214b3 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bdef3f3214b3 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdef3f3214b3>.fl-row-content-wrap {
  padding-top: 130px;
  padding-bottom: 40px
}

@media(max-width:1200px) {
  .fl-node-5bdef3f3214b3.fl-row>.fl-row-content-wrap {
    padding-top: 70px;
    padding-bottom: 40px
  }
}

@media(max-width:760px) {
  .fl-node-5bdef3f3214b3.fl-row>.fl-row-content-wrap {
    padding-top: 20px;
    padding-bottom: 5px
  }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_right],
.fl-builder-row-settings .fl-field-responsive-setting input[name=bg_position_custom_left] {
  display: none !important
}

.fl-node-5bdef3e816c31 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px
}

.fl-node-5bdef3e816c31 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px
}

.fl-node-5bdef3e816c31 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdef3e816c31>.fl-row-content-wrap {
  padding-top: 0;
  padding-bottom: 80px
}

@media(max-width:760px) {
  .fl-node-5bdef3e816c31.fl-row>.fl-row-content-wrap {
    padding-top: 0
  }
}

.fl-node-5bdf0cdd4d6ac {
  width: 100%
}

.fl-node-5bdf0cdd4d6ac>.fl-col-content {
  background-color: #fff;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .08)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf0cdd4d6ac>.fl-col-content {
  margin-top: -70px
}

@media(max-width:1200px) {
  .fl-node-5bdf0cdd4d6ac.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

@media(max-width:760px) {
  .fl-node-5bdf0cdd4d6ac.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

.fl-node-5d160c6e93f0d {
  width: 100%
}

.fl-node-5d160c6e93f0d>.fl-col-content {
  background-color: #fff
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160c6e93f0d {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:1200px) {
  .fl-node-5d160c6e93f0d.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f0d.fl-col>.fl-col-content {
    margin-bottom: 0
  }
}

.fl-node-5d160c6e93f0d>.fl-col-content {
  padding-left: 30px
}

@media(max-width:1200px) {
  .fl-node-5d160c6e93f0d.fl-col>.fl-col-content {
    padding-right: 0;
    padding-left: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f0d.fl-col>.fl-col-content {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

.fl-node-5d160c6e93f0f {
  width: 40%
}

.fl-builder-content .fl-node-5d160c6e93f0f>.fl-col-content {
  min-height: 450px
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160c6e93f0f {
    width: 40% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160c6e93f0f {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d160c6e93f0f {
    flex-basis: 100%
  }

  .fl-builder-content .fl-node-5d160c6e93f0f>.fl-col-content {
    min-height: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f0f.fl-col>.fl-col-content {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0
  }
}

.fl-node-5d160c6e93f0f>.fl-col-content {
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%
}

@media(max-width:1200px) {
  .fl-node-5d160c6e93f0f.fl-col>.fl-col-content {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f0f.fl-col>.fl-col-content {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0
  }
}

.fl-node-5d160c6e93f10 {
  width: 60%
}

.fl-node-5d160c6e93f10>.fl-col-content {
  background-image: url(../../../images/uploads/2017/04/photo-17.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 40px 30px 0 rgba(0, 0, 0, .08)
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160c6e93f10 {
    width: 60% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }

  .fl-builder-content .fl-node-5d160c6e93f10>.fl-col-content {
    min-height: 50vh
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160c6e93f10 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d160c6e93f10 {
    flex-basis: 100%
  }
}

@media(max-width:1200px) {
  .fl-node-5d160c6e93f10.fl-col>.fl-col-content {
    margin-right: 0;
    margin-left: 0
  }
}

@media(max-width:1200px) {
  .fl-node-5d160c6e93f10.fl-col>.fl-col-content {
    padding-right: 0;
    padding-left: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f10.fl-col>.fl-col-content {
    padding-top: 120px;
    padding-bottom: 120px
  }
}

.fl-node-5d160f976e6e0 {
  width: 100%
}

.fl-node-5d160f976e6e0>.fl-col-content {
  background-color: #fff
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160f976e6e0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-builder-content .fl-node-5d160f976e6e0>.fl-col-content {
    min-height: 0
  }
}

@media(max-width:1200px) {
  .fl-node-5d160f976e6e0.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

@media(max-width:1200px) {
  .fl-node-5d160f976e6e0.fl-col>.fl-col-content {
    padding-right: 0;
    padding-left: 0
  }
}

.fl-node-5d160f976e6e3 {
  width: 60%
}

.fl-node-5d160f976e6e3>.fl-col-content {
  background-image: url(https://gast.vamtam.com/wp-content/uploads/2017/04/photo-8.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 40px 30px 0 rgba(0, 0, 0, .08)
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160f976e6e3 {
    width: 60% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }

  .fl-builder-content .fl-node-5d160f976e6e3>.fl-col-content {
    min-height: 50vh
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160f976e6e3 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:760px) {
  .fl-node-5d160f976e6e3.fl-col>.fl-col-content {
    padding-top: 120px;
    padding-bottom: 120px
  }
}

.fl-node-5d160f976e6e2 {
  width: 40%
}

.fl-builder-content .fl-node-5d160f976e6e2>.fl-col-content {
  min-height: 450px
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160f976e6e2 {
    width: 40% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160f976e6e2 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-builder-content .fl-node-5d160f976e6e2>.fl-col-content {
    min-height: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160f976e6e2.fl-col>.fl-col-content {
    margin-top: 40px
  }
}

.fl-node-5d160f976e6e2>.fl-col-content {
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%
}

@media(max-width:1200px) {
  .fl-node-5d160f976e6e2.fl-col>.fl-col-content {
    padding-left: 20px
  }
}

@media(max-width:760px) {
  .fl-node-5d160f976e6e2.fl-col>.fl-col-content {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0
  }
}

.fl-node-5d160ff0d4e97 {
  width: 100%
}

.fl-node-5d160ff0d4e97>.fl-col-content {
  background-color: #fff
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160ff0d4e97 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:1200px) {
  .fl-node-5d160ff0d4e97.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e97.fl-col>.fl-col-content {
    margin-bottom: 0
  }
}

.fl-node-5d160ff0d4e97>.fl-col-content {
  padding-left: 30px
}

@media(max-width:1200px) {
  .fl-node-5d160ff0d4e97.fl-col>.fl-col-content {
    padding-right: 0;
    padding-left: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e97.fl-col>.fl-col-content {
    padding-bottom: 0
  }
}

.fl-node-5d160ff0d4e99 {
  width: 40%
}

.fl-builder-content .fl-node-5d160ff0d4e99>.fl-col-content {
  min-height: 450px
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160ff0d4e99 {
    width: 40% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160ff0d4e99 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d160ff0d4e99 {
    flex-basis: 100%
  }

  .fl-builder-content .fl-node-5d160ff0d4e99>.fl-col-content {
    min-height: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e99.fl-col>.fl-col-content {
    margin-top: 40px
  }
}

.fl-node-5d160ff0d4e99>.fl-col-content {
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%
}

@media(max-width:1200px) {
  .fl-node-5d160ff0d4e99.fl-col>.fl-col-content {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e99.fl-col>.fl-col-content {
    padding-top: 0;
    padding-bottom: 30px
  }
}

.fl-node-5d160ff0d4e9c {
  width: 60%
}

.fl-node-5d160ff0d4e9c>.fl-col-content {
  background-image: url(https://gast.vamtam.com/wp-content/uploads/2018/11/r-03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  box-shadow: 0 40px 30px 0 rgba(0, 0, 0, .08)
}

@media(max-width:1200px) {
  .fl-builder-content .fl-node-5d160ff0d4e9c {
    width: 60% !important;
    max-width: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }

  .fl-builder-content .fl-node-5d160ff0d4e9c>.fl-col-content {
    min-height: 50vh
  }
}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5d160ff0d4e9c {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d160ff0d4e9c {
    flex-basis: 100%
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e9c.fl-col>.fl-col-content {
    padding-top: 120px;
    padding-bottom: 120px
  }
}

.fl-node-5bde2ba1ced84 {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde2ba1ced84 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde2ba1ced84 a {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde2ba1ced84 a:hover {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde2ba1ced84 h1,
.fl-builder-content .fl-node-5bde2ba1ced84 h2,
.fl-builder-content .fl-node-5bde2ba1ced84 h3,
.fl-builder-content .fl-node-5bde2ba1ced84 h4,
.fl-builder-content .fl-node-5bde2ba1ced84 h5,
.fl-builder-content .fl-node-5bde2ba1ced84 h6,
.fl-builder-content .fl-node-5bde2ba1ced84 h1 a,
.fl-builder-content .fl-node-5bde2ba1ced84 h2 a,
.fl-builder-content .fl-node-5bde2ba1ced84 h3 a,
.fl-builder-content .fl-node-5bde2ba1ced84 h4 a,
.fl-builder-content .fl-node-5bde2ba1ced84 h5 a,
.fl-builder-content .fl-node-5bde2ba1ced84 h6 a {
  color: #8d929d
}

.fl-node-5bde2ba1ced84 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bde2ba1ced84 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:1200px) {
  .fl-node-5bde2ba1ced84.fl-col>.fl-col-content {
    padding-bottom: 10px
  }
}

@media(max-width:760px) {
  .fl-node-5bde2ba1ced84.fl-col>.fl-col-content {
    padding-bottom: 0
  }
}

.fl-node-5bde2b618431e {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fb8b {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdf12ad3fb8b *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdf12ad3fb8b a {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdf12ad3fb8b a:hover {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdf12ad3fb8b h1,
.fl-builder-content .fl-node-5bdf12ad3fb8b h2,
.fl-builder-content .fl-node-5bdf12ad3fb8b h3,
.fl-builder-content .fl-node-5bdf12ad3fb8b h4,
.fl-builder-content .fl-node-5bdf12ad3fb8b h5,
.fl-builder-content .fl-node-5bdf12ad3fb8b h6,
.fl-builder-content .fl-node-5bdf12ad3fb8b h1 a,
.fl-builder-content .fl-node-5bdf12ad3fb8b h2 a,
.fl-builder-content .fl-node-5bdf12ad3fb8b h3 a,
.fl-builder-content .fl-node-5bdf12ad3fb8b h4 a,
.fl-builder-content .fl-node-5bdf12ad3fb8b h5 a,
.fl-builder-content .fl-node-5bdf12ad3fb8b h6 a {
  color: #8d929d
}

.fl-node-5bdf12ad3fb8b {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad3fb8b {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

.fl-node-5bdf12ad3fb8b>.fl-col-content {
  padding-bottom: 50px
}

@media(max-width:1200px) {
  .fl-node-5bdf12ad3fb8b.fl-col>.fl-col-content {
    padding-bottom: 70px
  }
}

@media(max-width:760px) {
  .fl-node-5bdf12ad3fb8b.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-bottom: 30px
  }
}

.fl-node-5bdf12ad3fc71 {
  width: 100%
}

.fl-node-5bdf12ad3fc71>.fl-col-content {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08)
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad3fc71 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:1200px) {
  .fl-node-5bdf12ad3fc71.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

@media(max-width:760px) {
  .fl-node-5bdf12ad3fc71.fl-col>.fl-col-content {
    margin-right: 10px;
    margin-left: 10px
  }
}

.fl-node-5bdf12ad3fd57 {
  width: 33.333%
}

.fl-node-5bdf12ad3fd57>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 1px
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad3fd57 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad3fd57>.fl-col-content {
    border-right-width: 0;
    border-bottom-width: 1px
  }
}

.fl-node-5bdf12ad3fd57>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad3fd57.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bdf12ad3fdc9 {
  width: 33.334%
}

.fl-node-5bdf12ad3fdc9>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 1px
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad3fdc9 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad3fdc9>.fl-col-content {
    border-right-width: 0;
    border-bottom-width: 1px
  }
}

.fl-node-5bdf12ad3fdc9>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad3fdc9.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bdf12ad3fe03 {
  width: 33.333%
}

.fl-node-5bdf12ad3fe03>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad3fe03 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad3fe03>.fl-col-content {
    border-right-width: 0
  }
}

.fl-node-5bdf12ad3fe03>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad3fe03.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bdf12ad40049 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad400c2 {
  width: 33.333%
}

.fl-node-5bdf12ad400c2>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 1px
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad400c2 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad400c2>.fl-col-content {
    border-right-width: 0;
    border-bottom-width: 1px
  }
}

.fl-node-5bdf12ad400c2>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad400c2.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bdf12ad400fb {
  width: 33.334%
}

.fl-node-5bdf12ad400fb>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 1px
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad400fb {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad400fb>.fl-col-content {
    border-right-width: 0;
    border-bottom-width: 1px
  }
}

.fl-node-5bdf12ad400fb>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad400fb.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bdf12ad40135 {
  width: 33.333%
}

.fl-node-5bdf12ad40135>.fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #dadddf;
  border-right-width: 0
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdf12ad40135 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }

  .fl-node-5bdf12ad40135>.fl-col-content {
    border-right-width: 0
  }
}

.fl-node-5bdf12ad40135>.fl-col-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px
}

@media(max-width:760px) {
  .fl-node-5bdf12ad40135.fl-col>.fl-col-content {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px
  }
}

.fl-node-5bde44f91d00e {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde44f91d00e *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde44f91d00e a {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde44f91d00e a:hover {
  color: #8d929d
}

.fl-builder-content .fl-node-5bde44f91d00e h1,
.fl-builder-content .fl-node-5bde44f91d00e h2,
.fl-builder-content .fl-node-5bde44f91d00e h3,
.fl-builder-content .fl-node-5bde44f91d00e h4,
.fl-builder-content .fl-node-5bde44f91d00e h5,
.fl-builder-content .fl-node-5bde44f91d00e h6,
.fl-builder-content .fl-node-5bde44f91d00e h1 a,
.fl-builder-content .fl-node-5bde44f91d00e h2 a,
.fl-builder-content .fl-node-5bde44f91d00e h3 a,
.fl-builder-content .fl-node-5bde44f91d00e h4 a,
.fl-builder-content .fl-node-5bde44f91d00e h5 a,
.fl-builder-content .fl-node-5bde44f91d00e h6 a {
  color: #8d929d
}

.fl-node-5bde44f91d00e {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bde44f91d00e {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:760px) {
  .fl-node-5bde44f91d00e.fl-col>.fl-col-content {
    padding-bottom: 0
  }
}

.fl-node-5bde45354d954 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde462a562d1 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bde462a562d1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

.fl-node-5bde462a562d1>.fl-col-content {
  padding-top: 20px
}

@media(max-width:760px) {
  .fl-node-5bde462a562d1.fl-col>.fl-col-content {
    padding-top: 0;
    padding-bottom: 10px
  }
}

.fl-node-5bdef3f321710 {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdef3f321710 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdef3f321710 a {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdef3f321710 a:hover {
  color: #8d929d
}

.fl-builder-content .fl-node-5bdef3f321710 h1,
.fl-builder-content .fl-node-5bdef3f321710 h2,
.fl-builder-content .fl-node-5bdef3f321710 h3,
.fl-builder-content .fl-node-5bdef3f321710 h4,
.fl-builder-content .fl-node-5bdef3f321710 h5,
.fl-builder-content .fl-node-5bdef3f321710 h6,
.fl-builder-content .fl-node-5bdef3f321710 h1 a,
.fl-builder-content .fl-node-5bdef3f321710 h2 a,
.fl-builder-content .fl-node-5bdef3f321710 h3 a,
.fl-builder-content .fl-node-5bdef3f321710 h4 a,
.fl-builder-content .fl-node-5bdef3f321710 h5 a,
.fl-builder-content .fl-node-5bdef3f321710 h6 a {
  color: #8d929d
}

.fl-node-5bdef3f321710 {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {
  .fl-builder-content .fl-node-5bdef3f321710 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left
  }
}

@media(max-width:760px) {
  .fl-node-5bdef3f321710.fl-col>.fl-col-content {
    padding-bottom: 0
  }
}

.fl-node-5bdef3e81fdde {
  width: 100%
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-module-vamtam-icon .fl-module-content .fl-icon i.has-background {
  border-radius: 100%;
  line-height: 2.4em;
  height: 2.4em;
  width: 2.4em;
  text-align: center
}

.fl-node-5d67ed46b06e7.fl-module-vamtam-icon {
  text-align: center
}

.fl-node-5d67ed46b06e7 .fl-module-content .fl-icon i {
  font-size: 140px;
  color: var(--vamtam-accent-color-4)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-module-vamtam-heading .vamtam-heading {
  padding: 0 !important;
  margin: 0 !important
}

.fl-node-5d160c6e93f11.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5d160c6e93f11 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160c6e93f12 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {

  .fl-node-5d160c6e93f12 .fl-rich-text,
  .fl-node-5d160c6e93f12 .fl-rich-text * {
    text-align: center
  }
}

@media(max-width:760px) {

  .fl-node-5d160c6e93f12 .fl-rich-text,
  .fl-node-5d160c6e93f12 .fl-rich-text * {
    text-align: left
  }
}

@media(max-width:760px) {
  .fl-node-5d160c6e93f12.fl-module>.fl-module-content {
    margin-right: 0;
    margin-left: 0
  }
}

.fl-node-5d67ef2d6412a.fl-module-vamtam-icon {
  text-align: center
}

.fl-node-5d67ef2d6412a .fl-module-content .fl-icon i {
  font-size: 140px;
  color: var(--vamtam-accent-color-4)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160f976e6e4.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5d160f976e6e4 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160f976e6e6 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {

  .fl-node-5d160f976e6e6 .fl-rich-text,
  .fl-node-5d160f976e6e6 .fl-rich-text * {
    text-align: center
  }
}

@media(max-width:760px) {

  .fl-node-5d160f976e6e6 .fl-rich-text,
  .fl-node-5d160f976e6e6 .fl-rich-text * {
    text-align: left
  }
}

@media(max-width:760px) {
  .fl-node-5d160f976e6e6.fl-module>.fl-module-content {
    margin-right: 0;
    margin-left: 0
  }
}

.fl-node-5d67f0302f5b6.fl-module-vamtam-icon {
  text-align: center
}

.fl-node-5d67f0302f5b6 .fl-module-content .fl-icon i {
  font-size: 140px;
  color: var(--vamtam-accent-color-4)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160ff0d4e9a.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5d160ff0d4e9a .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5d160ff0d4e9b .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {

  .fl-node-5d160ff0d4e9b .fl-rich-text,
  .fl-node-5d160ff0d4e9b .fl-rich-text * {
    text-align: center
  }
}

@media(max-width:760px) {

  .fl-node-5d160ff0d4e9b .fl-rich-text,
  .fl-node-5d160ff0d4e9b .fl-rich-text * {
    text-align: left
  }
}

@media(max-width:760px) {
  .fl-node-5d160ff0d4e9b.fl-module>.fl-module-content {
    margin-right: 0;
    margin-left: 0
  }
}

.fl-node-5bde2ba1cecce.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5bde2ba1cecce h2.vamtam-heading * {
  color: var(--vamtam-accent-color-3) !important
}

.fl-node-5bde2ba1cecce .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde2ba1ced4a .fl-separator {
  border-top: 1px solid;
  width: 3%;
  max-width: 100%;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde2ba1ced4a>.fl-module-content {
  margin-top: 0;
  margin-bottom: 0
}

.fl-node-5bde2ba1ced0f .fl-rich-text,
.fl-node-5bde2ba1ced0f .fl-rich-text * {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase
}

.fl-node-5bde2ba1ced0f .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

@media(max-width:760px) {
  .fl-node-5bde2b6ac4f7c.fl-module>.fl-module-content {
    margin-right: 0;
    margin-left: 0
  }
}

.fl-node-5d318dfebab4b.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5d318dfebab4b h2.vamtam-heading * {
  color: var(--vamtam-accent-color-3) !important
}

.fl-node-5d318dfebab4b .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fbff .fl-separator {
  border-top: 1px solid;
  width: 3%;
  max-width: 100%;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fbff>.fl-module-content {
  margin-top: 0;
  margin-bottom: 0
}

.fl-node-5bdee7f6a291b .fl-rich-text,
.fl-node-5bdee7f6a291b .fl-rich-text * {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase
}

.fl-node-5bdee7f6a291b .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fe3c.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad3fe3c .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fe76.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad3fe76.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad3fe76 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3feaf .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3fee8.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad3fee8 .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3ff22.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad3ff22.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad3ff22 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3ff5b .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3ff95.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad3ff95 .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad3ffd0.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad3ffd0.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad3ffd0 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40009 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40088 .fl-separator {
  border-top: 1px solid;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40088>.fl-module-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0
}

.fl-node-5bdf12ad40172.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad40172 .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad401ac.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad401ac.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad401ac .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad401e5 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad4021e.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad4021e .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40258.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad40258.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad40258 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40291 .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad402cb.fl-module-vamtam-icon {
  text-align: left
}

.fl-node-5bdf12ad402cb .fl-module-content .fl-icon i {
  font-size: 64px;
  color: var(--vamtam-accent-color-1)
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad40304.fl-module-vamtam-heading .vamtam-heading {
  text-align: left;
  justify-content: flex-start
}

.fl-node-5bdf12ad40304.fl-module-vamtam-heading .vamtam-heading-line-left {
  display: none
}

.fl-node-5bdf12ad40304 .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdf12ad4033e .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde44f91d04b.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5bde44f91d04b h2.vamtam-heading * {
  color: var(--vamtam-accent-color-3) !important
}

.fl-node-5bde44f91d04b .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde44f91d140 .fl-separator {
  border-top: 1px solid;
  width: 3%;
  max-width: 100%;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bde44f91d140>.fl-module-content {
  margin-top: 0;
  margin-bottom: 0
}

.fl-node-5bde44f91d17b .fl-rich-text,
.fl-node-5bde44f91d17b .fl-rich-text * {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase
}

.fl-node-5bde44f91d17b .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

@media(max-width:760px) {
  .fl-node-5bde45354d98e.fl-module>.fl-module-content {
    margin-right: 0;
    margin-left: 0
  }
}

.fl-builder-content .vamtam-button-width-full .vamtam-button {
  display: block;
  text-align: center
}

.fl-builder-content .vamtam-button-width-custom .vamtam-button {
  display: inline-block;
  text-align: center;
  max-width: 100%
}

.fl-builder-content .vamtam-button i {
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto
}

.fl-builder-content .vamtam-button i.vamtam-button-icon-after {
  margin-left: 8px;
  margin-right: 0
}

.fl-builder-content .vamtam-button-has-icon .vamtam-button-text {
  vertical-align: middle
}

.fl-builder-content .vamtam-button.icon-animation-enable:not(:hover) i.vamtam-button-icon {
  opacity: 0
}

@media(max-width:760px) {

  .fl-module-button .vamtam-button-left,
  .fl-module-button .vamtam-button-right {
    text-align: center
  }
}

.fl-node-5bdef3f32174a.fl-module-vamtam-heading .vamtam-heading {
  text-align: center;
  justify-content: center
}

.fl-node-5bdef3f32174a h2.vamtam-heading * {
  color: var(--vamtam-accent-color-3) !important
}

.fl-node-5bdef3f32174a .vamtam-heading .vamtam-heading-text {}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdef3f321784 .fl-separator {
  border-top: 1px solid;
  width: 3%;
  max-width: 100%;
  margin: auto
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

.fl-node-5bdef3f321784>.fl-module-content {
  margin-top: 0;
  margin-bottom: 0
}

.fl-node-5bdef3f3217bd .fl-rich-text,
.fl-node-5bdef3f3217bd .fl-rich-text * {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase
}

.fl-node-5bdef3f3217bd .fl-rich-text strong {
  font-weight: 700
}

@media(max-width:1200px) {}

@media(max-width:760px) {}

@media(max-width:1200px) {
  .fl-node-5bdef4314f10a.fl-module>.fl-module-content {
    margin-right: -5px;
    margin-left: -5px
  }
}

@media(max-width:760px) {
  .fl-node-5bdef4314f10a.fl-module>.fl-module-content {
    margin-right: -5px;
    margin-left: -5px
  }
}